<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"/>
    <script src="maxcdn.boostrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
           <div class="left_frame">
           <div class="left_1">
            <div class="left_1-1">
                <img src="images/profile.png" 
                 width="156px"
                 height="142px"
                 alt="">
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
        
            <!-- iconlar boshi -->
            
            <div class="left_icons">
                <a class="link_href" href="">
                    <div class="images">
                        <img src="images/youtube.png" class="icon-1" alt="">
                    </div>
                    </a>
                    <a class="link_href" href="">
                    <div class="images">
                        <img src="images/twitter.png" class="icon-1" alt="">
                    </div>
                    </a>
                    <a class="link_href" href=""></a>
                    <div class="images">
                        <img src="images/linkeding.png" class="icon-1" alt="">
                    </div>
                    </a>
                    <a class="link_href" href=""></a>
                    <div class="images">
                        <img src="images/instagram.png" class="icon-1" alt="">
                    </div>
                    </a>
                    <a class="link_href" href="">
                    <div class="images">
                        <img src="images/facebook.png" class="icon-1" alt="">
                    </div>
                    </a>
                    <a class="link_href" href="">
                        <div class="images">
                            <img src="images/dribbble.png" class="icon-1" alt="">
                        </div>
                    </a>
                </div>
           </div>
        
           <div class="marginer"></div>

                 <!-- aboutga tegishli qisim -->

           <div class="left_2">
            <div class="left_2-1">
                <div class="left_2_info">Age</div>
                <div class="left_2_infor"><%=user.age%></div>
            </div>
            <div class="left_2-1">
                <div class="left_2_info">Residence</div>
                <div class="left_2_infor"><%=user.residence%></div>
            </div>
            <div class="left_2-1">
                <div class="left_2_info">Freelance</div>
                <div class="left_2_infor"><%=user.freelance%></div>
            </div>
            <div class="left_2-1">
                <div class="left_2_info">Address</div>
                <div class="left_2_infor"><%=user.address%></div>
            </div>
        </div>

    <div class="marginer"></div>

              <!-- language qismi -->

    <div class="left_3">

         <div><span class="Languages">Languages</span></div>
         <div class="lang">
              <div><%=user.language%>Uzbek</div>
              <div>100%</div>
         </div>
         <div class="line-1"></div>

         <div class="lang">
            <div><%=user.language%>Korean</div>
            <div>80%</div>
         </div>
         <div class="line-2"></div>
         <div class="lang">
            <div><%user.language%>English</div>
            <div>70%</div>
         </div>
         <div class="line-3"></div>
    </div>
<div class="marginer"></div>

          <!-- skill qismi -->

    <div class="left_4"><span class="Skills">Skills</span>
        
    <div><span class="Html"> Html </span>
          <span> 90% </span>
        <div class="Rectangle-15">

    <div><span class="CSS">CSS</span>
          <span> 85% </span>
        <div class="Rectangle-16">
    
    <div><span class="Js">Js </span>
          <span> 80% </span>
        <div class="Rectangle-17">
    

    <div><span class="PHP">PHP</span>
          <span> 75% </span>
        <div class="Rectangle-19">
    
    <div><span class="WordPress">WordPress</span>
          <span> 85% </span>
        <div class="Rectangle-21">
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
     <div class="marginer"></div>

     <!-- Extra-Skills bulimi -->
           
    <div class="left_5"><span class="Extra-Skills">Extra Skills</span>
        
    <div><img src="menu_icon/icons.svg" class="Icons">
        <div><span class="Bootstrap-Materialize">Bootstrap, Materialize</span>

    <div><img src="menu_icon/icons.svg" class="Icons">
        <div><span class="Stylus-Sass-Less">Stylus, Sass, Less</span>
    
    <div><img src="menu_icon/icons.svg" class="Icons">
    <div><span class="Gulp-Webpack-Grunt">Gulp, Webpack, Grunt</span>

    <div><img src="img/icons.svg" class="Icons">
    <div><span class="GIT-Knowledge">GIT Knowledge</span>
                    </div>
                  </div>
                </div>
              </div>
             </div>
           </div>
          </div>
        </div>
      </div>

    <div class="marginer"></div>

    <!-- Middile qismi -->

<div class="midd_frame">
<div class="Background-Image">
<div class="Main-menu">
<div><span class="Doctor-neurologists-in-OHSU-Hospital"> Doctor neurologists in OHSU Hospital </span>
<div><span class="Lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-Et-volutpat-feugiat-placerat-lobortis-Nat">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.
  </span> 
<div><img src="menu_icon/button-book-me.svg"class="ButtonBook-Me">
    <div><img src="menu_icon/your-image-1.png" srcset="img/your-image-1@2x.png 2x, img/your-image-1@3x.png 3x" class="Your-Image-1">
        <div><img src="menu_icon/ellipse-15.svg" class="Ellipse-15">
            <div><img src="menu_icon/ellipse-12.svg" class="Ellipse-12">
                <div class="Rectangle-51">
                    <div><img src="menu_icon/ellipse-16.svg"class="Ellipse-16">
                       <div><img src="menu_icon/rectangle-52.svg" class="Rectangle-52">
                          <div class="Ellipse-13">
                             <div><img src="menu_icon/polygon-1.svg" class="Polygon-1"></div>
                             

    <div><span class="my-services">MY SERVICES</span>
       <div><span class="Amet-minim-mollit-non-deserunt-ullamco-est-sit-aliqua-dolor-do-amet-sint-Velit-officia-consequat-du">
             Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</span>
            
            
            
    <div class="Rectangle-38">
        <div><img src="images/icons-coding.png" srcset="images/icons-coding@2x.png 2x, images/icons-coding@3x.png 3x" class="Iconscoding">
            <div><span class="web-development"> Web Development </span>
                <div><span class="blog-e-commerce"> blog, e-commerce </span>
                    </div>
                                            
    <div class="Rectangle-39">
        <div><img src="images/icons-illustration.png" srcset="images/icons-illustration@2x.png 2x, images/icons-illustration@3x.png 3x" class="Iconsillustration">
            <div><span class="uIuX-design"> UI/UX Desig </span> 
                <div><span class="Mobile-app-website-design"> Mobile app, website design </span>
                    </div>
                                  
    <div></div>                
                                                      </div>
                                                   </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>
                         </div>
                      </div>
                    </div>
                  </div>
               </div> 
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>
<div class="marginer"></div>

     <div class="right_frame">
        <div class="right_sections">
            
            <div class="right_1">
               <img src="menu_icon/contrast.png" srcset="menu_icon/contrast@2x.png 2x, menu_icon/contrast@3x.png 3x" class="Contrast">
            </div>
            
            <div class="right_icon_2">
               <img src="menu_icon/pop-up.png" srcset="menu_icon/pop-up@2x.png 2x, menu_icon/pop-up@3x.png 3x" class="Pop-up">
            </div> 
            
            <div class="right_icon_2">
               <img src="menu_icon/home.svg" class="Home">
            </div> 
            
            <div class="right_icon_2">
               <img src="menu_icon/service.png" srcset="img/service@2x.png 2x, img/service@3x.png 3x" class="Service">                 
            </div>   
            
            <div class="right_icon_2">  
               <img src="images/cv.png" srcset="images/cv@2x.png 2x, images/cv@3x.png 3x" class="Cv">
            </div>
            
            <div class="right_icon_2">   
               <img src="menu_icon/portfolio.svg" class="Portfolio">
            </div>  
            
            <div class="right_icon_2">
               <img src="images/blog.png" srcset="images/blog@2x.png 2x, images/blog@3x.png 3x" class="Blog">
            </div>
            
            <div class="right_icon_2">
               <img src="images/contact.png" srcset="images/contact@2x.png 2x, images/contact@3x.png 3x" class="Contact">
           </div>
            
        </div>
        </div>  
    
</div>
</div>
</div>
</div>     
   
</body>
</html>